.git
.cursor
**/.meteor/local
**/node_modules
**/_build
**/.rsdoctor
**/build-assets
**/build-chunks
**/build-assets*
**/build-chunks*
**/.vite
**/.rspack-cache
**/coverage
**/output
**/*.log
**/Thumbs.db
**/.DS_Store
docker/certs/**/*.pem
docker/certs/**/*.crt
docker/certs/**/*.key
docker/apps/*.local.env
docker/data
